body.page-template-page-links {

  p {
    font-size: 22px;
  }

  #section-1 {
    //display: none;
    padding-bottom: 0.5rem;
  }

  #section-2 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .gallery {
      width: 90%;
      margin: 0 auto;
    }
  }

  @media( min-width: 801px ) {
    #section-1 {
      padding-top: 3.5rem;
    }
  }

  .gallery article {
    border-right: 1px solid;
    border-left: 1px solid;
  }

}